section{
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 30px;
    border: 1px solid #fff;
}

section .game-content{
    width: 600px;
    height: 500px;
}

section .game-content .online-offline-section{
    height: 30px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section .game-content .online-offline-section a{
    text-align: center;
    text-decoration: none;
    color: #fff;
    display: inline-block;

    height: 100%;
    width: 50%;

    padding-top: 5px;
    border: 1px solid #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.active{
    background-color: #168f80;
}