*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #14bdac;
}

#root{
    height: 100%;
    width: 100%;
}
